<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unitec.kitbox">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--  Allow the API to determine the location as accurately as possible through available location service providers
     (including global positioning system (GPS)) and Wi-Fi and mobile data.  -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- The API check the connection status to determine whether the data can be downloaded. -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--  Allow the API to use Wi-Fi or mobile data (or both) to determine the location of the device.
     The location accuracy returned by the API is approximately in units of city blocks.  -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Specified an older version of the Google Play Services SDK, you must require
    android.permission.WRITE_EXTERNAL_STORAGE permission.   -->
    
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/kitbox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kitbox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCYntFydyXMfQPsRYOu86DcV7qQvjG_2V4"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>